 @media screen and (min-width: 810px) and (max-width: 1000px) {

     html,
     body {
         height: 100%;
         margin: 0;
         padding: 0;
     }

     body {
         display: flex;
         flex-direction: column;
         min-height: 100vh;
     }

     main,
     .top-up {
         flex: 1;
     }

     section.footer {
         margin-top: auto;
     }
 }